<html lang="EN" class="lightmode">
    <head>
        <title>Replay-Management</title>
        <link rel="stylesheet" href="../public/styles/Index.css">
        <script src="../public/js/ScriptLoader.js" type="module"></script>
    </head>
    <body>
        <%- include('./partials/NavBar.ejs'); %>
        <%- replayHTML %>
        <%if(error !== undefined && error !== null) {%>
        <%}%>
        <%- include('./partials/Footer.ejs', {"page" : page, "pageMax" : pageMax}); %>
    </body>
</html>