@import "NavBar";
@import "Footer";
@import "variables";

html {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    background-color: $foregroundColor;
    transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;

        nav {
            background-color: $backgroundColor;
            color: $foregroundColor;

            form {
                background-color: $foregroundColor;
                border: solid $foregroundColor 1px;

                input {
                    background-color: $foregroundColor;
                    color: $backgroundColor;

                    &::placeholder {
                        color: $backgroundColor;
                    }
                }

                select {
                    background-color: $foregroundColor;
                    color: $backgroundColor;
                }

                button {
                    background-color: $foregroundColor;
                }
            }

            #themeButton {
                background-color: $backgroundColor;
            }
        }

        button {
            border: none;
            background-color: $foregroundColor;
            cursor: pointer;
            opacity: 1;

            &:hover {
                opacity: 0.5;
            }
        }

        .replayContainer {
            margin-top: 5%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .replay {
                margin: 1%;
                width: $replayWidth;
                border: 5px solid $backgroundColor;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 5px;
                color: $backgroundColor;
                font-size: 20px;
                transition-duration: 0.5s;
                transition-property: background-color, border;
                transition-timing-function: ease-in-out;

                .replayHeader {

                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-around;
                    color: $foregroundColor;
                    background-color: $backgroundColor;
                    padding-bottom: 1%;
                    padding-top: 1%;
                    transition-duration: 0.5s;
                    transition-property: background-color;
                    transition-timing-function: ease-in-out;

                    button {
                        background-color: $backgroundColor;
                        transition-duration: 0.5s;
                        transition-property: background-color;
                        transition-timing-function: ease-in-out;
                    }
                }

                .replayDetails {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 100%;
                    background-color: $foregroundColor;
                    color: $backgroundColor;
                    transition-duration: 0.5s;
                    transition-property: background-color;
                    transition-timing-function: ease-in-out;

                    div {
                        align-self: center;
                    }
                }

                &.more {
                    .replayDetails {
                        display: none;
                    }
                }
            }

            .error {
                border-radius: 5px;
                border: solid 5px salmon;
                color: $backgroundColor;
                background-color: $foregroundColor;
                width: $replayWidth;
                min-height: $replayContainerHeight;
                padding: 1%;
                text-align: center;
            }
        }

        footer {
            background-color: $backgroundColor;

            #paginationForm {
                .paginationButton {
                    background-color: $backgroundColor;
                    color: $foregroundColor;
                }
            }
        }
    }


    &.lightmode {
        background-color: $backgroundColor;

        body {

            nav {
                background-color: $foregroundColor;
                color: $backgroundColor;

                form {
                    background-color: $backgroundColor;
                    border: solid $backgroundColor 1px;

                    button {
                        background-color: $backgroundColor;
                    }

                    input {
                        background-color: $backgroundColor;
                        color: $foregroundColor;

                        &::placeholder {
                            color: $foregroundColor;
                        }
                    }

                    select {
                        background-color: $backgroundColor;
                        color: $foregroundColor;
                    }
                }

                #themeButton {
                    background-color: $foregroundColor;
                }
            }

            button {
                background-color: $backgroundColor;
            }

            .replayContainer {
                .replay {
                    border: 5px solid $foregroundColor;
                    color: $foregroundColor;

                    .replayHeader {
                        color: $backgroundColor;
                        background-color: $foregroundColor;

                        button {
                            background-color: $foregroundColor;
                        }
                    }

                    .replayDetails {
                        background-color: $backgroundColor;
                        color: $foregroundColor;
                    }
                }

                .error {
                    color: $foregroundColor;
                    background-color: $backgroundColor;
                }
            }

            footer {
                background-color: $foregroundColor;

                #paginationForm {
                    .paginationButton {
                        background-color: $foregroundColor;
                        color: $backgroundColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    html {
        body {
            .replayContainer {
                margin-top: 15%;
                .replay {
                    font-size: 15px;
                }
            }
        }
    }
}